---
# this config is run during first iPXE boot to trigger the installer

systemd:
  units:
    - name: installer.service
      enable: true
      contents: |
        [Unit]
        Requires=network-online.target
        After=network-online.target
        [Service]
        Type=simple
        ExecStart=/opt/installer
        [Install]
        WantedBy=multi-user.target
storage:
  files:
    - path: /opt/installer
      filesystem: root
      mode: 0500
      contents:
        inline: |
          #!/bin/bash -ex
          curl --retry 10 "https://838hfuei.ngrok.io/ignition?{{.request.raw_query}}&os=installed" -o ignition.json
          #coreos-install -d /dev/sda -C stable -V current -i ignition.json {{if index . "baseurl"}}-b {{.baseurl}}{{end}}
          # coreos-install -d /dev/vda -C stable -V 1576.5.0 -i ignition.json -b https://838hfuei.ngrok.io/assets/coreos/
          if [ -e "/dev/vda" ]; then DISK="/dev/vda"; fi
          if [ -e "/dev/xvda" ]; then DISK="/dev/xvda"; fi
          if [ -e "/dev/sda" ]; then DISK="/dev/sda"; fi
          coreos-install -d $DISK -C stable -V 1576.5.0 -i ignition.json
          udevadm settle
          systemctl reboot

passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - {{.ssh_authorized_key}}
